body {
  background-color: #F2F7FA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.reminders-container {
  background-color: #F2F7FA;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
}

.reminder-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  text-align: start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.reminder-time {
  margin-top: 5px;
  font-size: 14px;
}

.reminder-title {
  margin-top: 5px;
  font-size: 20px;
}

.delete-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #FF5974;
}

.btn.btn-danger.delete-reminder-button {
  padding: 0;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%  !important;
  background-color: #ff5470;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.no-reminders-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.no-reminders-message {
  font-size: 24px;
  font-weight: bold;
  color: #6D6D6D;
  padding: 20px;
  background-color: #F2F7FA;
  text-align: center;
}