<div class="container mt-3">
  <h1>リマインド一覧</h1>
  <% @reminders.each do |reminder| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= reminder.title %></h5>
        <p class="card-text">メッセージ: <%= reminder.message || 'なし' %></p>
        <p class="card-text">リマインド時刻: <%= reminder.reminder_time %></p>
        <%= link_to '削除', reminder, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>