<h1>リマインダー一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>時間</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.title %></td>
        <td><%= reminder.reminder_time.strftime("%Y年%m月%d日 %H:%M") %></td>
        <td>
          <%= link_to '削除', reminder_list_path(reminder), method: :delete, data: { confirm: 'このリマインダーを削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>