<h1>リマインダー一覧</h1>

  <% if @reminders.empty? %>
    <p>リマインド一覧がありません。</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>時間</th>
          <th>タイトル</th>
        </tr>
      </thead>
      <tbody>
        <% @reminders.each do |reminder| %>
          <tr>
            <td><%= reminder.reminder_time.strftime("%Y年%m月%d日 %H時%M分") %></td>
            <td><%= reminder.title %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>