.text-sm {
  color: #666666;
  margin: 0;
  font-size: 12px;
}

ul li a {
  color: #666666;
  text-decoration: none;
  font-size: 12px;
}

ul li a:hover {
  color: #2d334a;
}

.footer {
  background-color: #B1CEE0;
  padding: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 12px;
}

.footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.footer ul li {
  padding: 0 10px;
  font-size: 12px;
}

.footer p {
  margin-top: 10px;
  font-size: 12px;
}
