.btn.custom-login-btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0px;
  background-color: #757575;
  color: #757575;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
}

.btn.custom-login-btn i {
  margin-right: 0px;
  font-size: 18px;
  transition-duration: 0.3s;
}

.btn.custom-login-btn:hover {
  background-color: #757575;
}

.btn.custom-login-btn:active {
  color: #3B3B3B;
}

.btn.custom-login-btn.btn-border-shadow:active:before {
  border-color: #3B3B3B;
}

.btn.custom-login-btn.btn-border-shadow--radius {
  border-radius: 100vh;
}

.btn.custom-login-btn.btn-border-shadow {
  padding: 8px 22px 18px 10px;
  background: #ffffff;
}

.btn.custom-login-btn.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  transition: all 0.3s ease;
  border: 3px solid #757575;
}

.btn.custom-login-btn.btn-border-shadow--radius:before {
  border-radius: 100vh;
}

.btn.custom-login-btn.btn-border-shadow:hover {
  padding: 8px 22px 18px 10px;
}

.btn.custom-login-btn.btn-border-shadow:hover:before {
  top: 0;
  left: 0;

}

.btn.custom-login-btn span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn.custom-login-btn.btn-border-shadow:hover span,
.btn.custom-login-btn.btn-border-shadow:hover i {
  transform: translateY(4px);
}

header {
  background-color: #B1CEE0;
  padding: 0px 30px 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    font-size: 64px;
    text-align: center;
  }
}

.header-image {
  max-width: 100px;
  height: auto;
  display: block;
  margin-left: 15px;
}

@media (min-width: 600px) {
  .btn.custom-login-btn {
    font-size: 22px;
    padding: 12px 28px 22px 14px;
  }

  .btn.custom-login-btn i {
    font-size: 22px;
  }

  .btn.custom-login-btn.btn-border-shadow {
    padding: 12px 28px 22px 14px;
    margin-right: 40px;
  }

  .btn.custom-login-btn.btn-border-shadow:before {
    top: -8px;
    left: -8px;
    border: 4px solid #757575;
  }

  header {
    padding: 0px 30px 0px 0px;
  }

  header h1 {
    font-size: 72px;
  }

  .header-image {
    max-width: 120px;
    margin-left: 40px;
  }
}