<%= render 'shared/header' %>
<h1>Staticpages#top</h1>
<%= link_to 'Login with Line', auth_at_provider_path(provider: :line) %>
<%= link_to 'fullcalendar', fullcalendar_path %>
<%= render 'shared/footer' %>