<%= stylesheet_link_tag 'staticpages/top', media: 'all', 'data-turbolinks-track': 'reload' %>
<nav>
  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
    <ul style="margin: 0; padding: 0; list-style: none; flex-grow: 1; display: flex; justify-content: flex-start;">
      <li><a href="#" style="color: black;">ReminderChat</a></li>
    </ul>
    <div style="flex-grow: 1; display: flex; justify-content: flex-end;">
      <button class="btn custom-login-btn"><i class="fas fa-sign-in-alt fa-lg"></i> Login</button>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <h1>ReminderChat</h1>
  </div>
</header>
<div id="nav-bg"></div>
<section id="about">
  <div class="container">
    <p>
      <%= link_to 'Login with Line', auth_at_provider_path(provider: :line) %>
      <%= link_to 'Calendar', events_path %>
    </p>
  </div>
</section>