<%= stylesheet_link_tag 'shared/_footer', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="bg-custom-color text-text-color font-genjyuu w-full shadow-top-shadow">
  <footer class="flex flex-col items-center justify-center pb-6 pt-6 footer">
    <ul class="flex justify-center mb-2">
      <li class="p-2 cursor-pointer">
        <%= link_to "利用規約", terms_path, data: { turbo_frame: "content-container" } %>
      </li>
      <li class="p-2 cursor-pointer">
        <%= link_to "プライバシーポリシー", privacy_policy_path, data: { turbo_frame: "content-container" } %>
      </li>
      <li class="p-2 cursor-pointer">
        <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSfz5Gs33-5F1RRMNHXx81GJEKVMSbOn6oSnwMCyNRq8wvkjpQ/viewform", target: "_blank", rel: "noopener noreferrer" %>
      </li>
    </ul>
    <p class="text-sm"><i class="fa-regular fa-copyright"></i> 2024 ReminderChat</p>
  </footer>
</div>
