<header class="header">
  <div style="flex-grow: 1; display: flex; justify-content: flex-end;">
    <button class="btn custom-login-btn">
        <i class="fa-solid fa-right-to-bracket"></i> 
        <span>Login</span>
    </button>
  </div>
</header>
