<%= stylesheet_link_tag 'shared/_header', media: 'all', 'data-turbolinks-track': 'reload' %>
<header class="header">
  <div style="flex-grow: 1; display: flex; justify-content: flex-end;">
    <%= link_to auth_at_provider_path(provider: :line), class: 'btn custom-login-btn btn-border-shadow btn-border-shadow--radius' do %>
      <i class="fa-solid fa-right-to-bracket"></i>
      <span>Login</span>
    <% end %>
  </div>
</header>
