<header class="header">
  <div style="flex-grow: 1; display: flex; justify-content: flex-end;">
    <button class="btn custom-login-btn"><i class="fas fa-sign-in-alt fa-lg"></i> Login</button>
  </div>
</header>
