<div class="modal fade" id="settingEventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/">TOPページへ</a></li>
          <li class="list-group-item"><a href="https://line.me/R/ti/p/%40083jbanw">LINEへ</a></li>
          <li class="list-group-item"><a href="/staticpages/terms">利用規約</a></li>
          <li class="list-group-item"><a href="/staticpages/privacy_policy">プライバシーポリシー</a></li>
          <li class="list-group-item">
            <form action="/logout" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <button type="submit" class="btn btn-danger">ログアウト</button>
            </form>
          </li>
        </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'privacy_policy', 'data-turbo-track': 'reload' %>