<%= stylesheet_link_tag 'events/_setting', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="modal fade" id="settingEventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-content">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/" class="top-link">TOPページへ</a></li>
          <li class="list-group-item"><a href="https://line.me/R/ti/p/%40083jbanw">LINEへ</a></li>
          <li class="list-group-item">
            <%= link_to "利用規約", terms_path, data: { turbo_frame: "content-container" } %>
          </li>
          <li class="list-group-item">
            <%= link_to "プライバシーポリシー", privacy_policy_path, data: { turbo_frame: "content-container" } %>
          </li>
          <li class="list-group-item">
            <form action="/logout" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <button type="submit" class="btn btn-danger danger">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
