<div class="modal fade" id="eventDetailsModal" tabindex="-1" aria-labelledby="eventDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventDetailsModalLabel">イベント詳細</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="eventDetailsTitle"></p>
        <p id="eventDetailsStart"></p>
        <p id="eventDetailsEnd"></p>
        <p id="eventNotifyTime" style="display: none;"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="editEventBtn" class="btn btn-primary" data-bs-target="#editEventModal" data-bs-toggle="modal" data-bs-dismiss="modal">編集</button>
        <button type="button" class="btn btn-danger" id="delete-event" data-bs-dismiss="modal" data-event-id="">削除</button>
      </div>
    </div>
  </div>
</div>
<%= render 'events/edit', event: @event %>