<%= stylesheet_link_tag 'calendar', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div id="calendar"></div>
</div>

<%= render 'form', event: @event %>
<%= render 'show', event: @event %>


<%= javascript_include_tag 'fullcalendar', "data-turbo-track": "reload", type: "module" %>
