@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.gif-container {
  text-align: center;
  margin-top: 20px;
}

.gif-container img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Sora', sans-serif;
  background: #ffffff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
}

.container {
  max-width: 60em;
  min-width: 45em;
  margin: 0 auto;
  padding: 0 2em;
  color: #2d334a;
}

.icon {
  display: inline-block;
  padding-top: .7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-bg {
  backdrop-filter: blur(5px);
  background-color: rgba(186, 232, 232, 0.1); 
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
  border: 1px solid #000000;
}

#about {
  height: auto;
  padding: 1em 0;
  p {
    line-height: 2em;
    font-size: 1.4em;
    margin: 0;
    color: #000000;
  }
}

.custom-carousel {
  border: 2px solid #ffffff;
  padding: 15px;
  background-color: #ffffff;
}

.carousel-caption-below {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #666666;
}

.carousel-caption-below p {
  font-size: 15px !important;
  color: #666666 !important;
  font-family: 'Sora', 'Noto Sans JP', sans-serif;
}

.carousel-caption-below h2 {
  font-weight: 700;
  margin-top: 15px;
  font-family: 'Sora', 'Noto Sans JP', sans-serif;
}

.button-container {
  margin-top: 30px;
  margin-bottom: 40px;
}

#about .container {
  text-align: center;
}

.about-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.login-link {
  display: inline-block;
  position: relative;
}

.login-button {
  position: relative;
}

.login-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}

.about-image {
  margin-top: 0px;
}

.app-description h2 {
  color: #666666;
  margin-bottom: 60px;
  font-size: 20px;
  font-family: 'Sora', 'Noto Sans JP', sans-serif;
}

.recommendation p {
  display: none;
}

.carousel-control-prev, .carousel-control-next {
  width: 40px;
  height: 40px;
  background-color: #969696;
  border-radius: 50%;
  top: 50%;
}

.carousel-indicators {
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.custom-indicators button.a {
  background-color: #969696;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    min-width: 100%;
    padding: 0 1em;
  }

  #about {
    padding: 1em 0;
    min-height: auto;
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 80em;
    padding: 0 4em;
    background-color: #ffffff;
  }

  .carousel-caption-below {
    padding: 20px;
    color: #666666;;
  }

  .about-image {
    max-width: 50%;
    margin: 20px auto;
  }

  .app-description h2 {
    font-size: 24px;
    color: #666666;;
  }

  .recommendation p {
    display: block;
    font-size: 20px !important;
    color: #666666 !important;
    margin-bottom: 40px !important;
    font-family: 'Sora', 'Noto Sans JP', sans-serif;
  }

  .button-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .custom-carousel {
    max-width: 70%;
    margin: 0 auto;
  }

  .custom-carousel img {
    max-height: 800px;
  }
}

@media (min-width: 1000px) {
  
  .about-image {
    max-width: 40%;
    margin: 20px auto;
  }

  .custom-carousel {
    max-width: 30%;
    margin: 0 auto;
  }

  .custom-carousel img {
    max-height: 700px;
  }
}