.switch-container {
  margin-right: 5px;
}
.tooltip-icon {
  color: #555;
}
.bs-tooltip-right .tooltip-inner {
  background-color: #555;
  color: white;
}

.bs-tooltip-right .arrow::before {
  border-right-color: #555;
}