.switch-container {
  margin-right: 5px;
}

.tooltip-icon {
  color: #FF5974;
}

// .tooltip .tooltip-inner {
//   background-color: #FF5974;
// }

// .tooltip.fade.show.bs-tooltip-end .tooltip-inner {
//   background-color: #FF5974;
//   color:  #ffffff;
// }

// .bs-tooltip-end .tooltip-arrow::before {
//   border-right-color: #FF5974;
// }

.form-check-input:checked {
  background-color: #5293BC;
  border-color: #5293BC;
}

.modal-content {
  background-color: #fff;
  color: #666666;
  border-radius: 17px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #5293BC;
  border-color: #5293BC;
  color: #ffffff;
  float: right;
}

.btn-primary:hover {
  background-color: #969696;
  border-color: #969696;
}

.btn-primary:active {
  background-color: #969696 !important;
  border-color: #969696 !important;
}

.btn-danger {
  background-color: #FF5974;
  border-color: #FF5974;
  color: #ffffff;
}

.form-control {
  color: #666666;
}

.modal-title {
  font-size: 24px;
  font-weight: 550;
  flex-grow: 1;
  text-align: center;
  color: #666666;
}