<div id="eventModal" class="modal">
  <div class="modal-content">
    <span class="close modalClose">×</span>
    <form id="eventForm">
      <input type="date" id="eventDate" readonly>
      <input type="text" id="eventTitle" placeholder="イベントタイトル">
      <button type="submit">イベントを追加</button>
    </form>
  </div>
</div>