<h2><center>Fullcalenda</center></h2>
<div class="container">
  <div id="calendar"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/googlecalendar@6.1.8/index.global.min.js"></script>
<%= javascript_include_tag 'fullcalendar', "data-turbo-track": "reload", type: "module" %>
