<h2><center>Javascript Fullcalendar</center></h2>
<div class="container">
  <div id="calendar"></div>
</div>
<%= javascript_include_tag 'fullcalendar', "data-turbo-track": "reload", type: "module" %>
