.fc-col-header-cell {
  background-color: #bae8e8;
}

.fc-daygrid-day-number {
  color: #4b5183 !important;
}

.fc-col-header-cell-cushion {
  color: #4b5183 !important;
}

.fc-day-sat {
  .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion, .fc-daygrid-day-number {
    color: #6666ff !important;
  }
}

.fc-day-sun {
  .fc-daygrid-day-top, .fc-scrollgrid-sync-inner .fc-col-header-cell-cushion, .fc-list-day-cushion, .fc-daygrid-day-number {
    color: #ff6666 !important;
  }
}

.fc-daygrid-day-top .holiday-number,
.fc-scrollgrid-sync-inner .fc-col-header-cell-cushion .holiday-number,
.fc-list-day-cushion .holiday-number,
.fc-daygrid-day-number.holiday-number {
    color: #ff6666 !important;
}

.fc-dayGridMonth-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-listMonth-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-CustomButton-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-lineButton-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-prev-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-today-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-CalendarButton-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-next-button {
  background-color: #bae8e8 !important;
  color: #4b5183 !important;
  border-color: #bae8e8 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.fc-toolbar-title {
  color: #4b5183 !important;
}

.fc-list-day-text {
  color: #4b5183 !important;
}

.fc-list-event-time {
  color: #4b5183 !important;
}

.fc-list-event-title a {
  color: #4b5183 !important;
}

.fc-list-day-cushion {
  background-color: #bae8e8 !important;
}

.fa-regular {
  color: #4b5183 !important;
}




.fc-dayGridMonth-view .fc-event {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  background-color: #94a1b2 !important;
  color: #ffffff !important;
  font-size: 10px;
  padding: 0px;
  margin: 1px 0px 0px 0px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 1px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 1px;
}

.fc-listMonth-view {
  color: #4b5183;
}



.custom-swal .swal-button--confirm {
  background-color: #ff6666;
}

// リストのボタン
.fc .fc-list-event-dot {
  border-color: #94a1b2;
}

@media (max-width: 450px) {
  .fc-toolbar-chunk {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .fc-toolbar-chunk button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 5px;
  }

  .fc-toolbar-chunk button i {
    line-height: 1;
  }

  .fc-CalendarButton-button {
    width: 42px; 
    height: 42px;
  }

  .fc-today-button {
    margin-right: 50px;
    height: 35px;
  }

  .holiday{
    font-size: 10px;
  }

  .fc-header-toolbar {
    margin-top: 10px;
  }
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 18px;
  }

  .fc .fc-toolbar.fc-footer-toolbar {
    margin-top: 18px;
  }

  .fc-daygrid-day-events{
    height: 51px;
  }
  .fc-daygrid-day-top {
    height: 20px;
  }
  
  .fc-daygrid-day-bg {
    height: 0px;
  }

  .fc .fc-daygrid-day-top {
    display: block;
    flex-direction: row;
  }

  .container{
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 375px) {
  .fc-CalendarButton-button {
    width: 45px; 
    height: 45px;
  }

  .fc-today-button {
    margin-right: 60px;
    height: 42px;
  }
}


@media (min-width: 769px) {
  .fc-toolbar-chunk {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .fc-toolbar-chunk button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
  }

  .fc-toolbar-chunk button i {
    line-height: 1;
  }

  .fc-header-toolbar {
    margin-top: 10px;
  }

  .fc-CalendarButton-button {
    width: 50px; 
  }

  .fc-today-button {
    margin-right: 300px;
  }

  .fc-lineButton-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-dayGridMonth-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-listMonth-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-CustomButton-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-lineButton-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-prev-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-today-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-CalendarButton-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .fc-next-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .fc .fc-daygrid-day-top {
    display: block;
    flex-direction: row;
  }

  .fc-daygrid-day-events{
    height: 56px;
  }
  // 追加
  .fc-daygrid-day-top {
    height: 20px;
  }
  // 変更
  .fc-daygrid-day-bg {
    height: 25px;
  }

  .fc-daygrid-day-top {
    height: 24px;
  }
  
  .fc-daygrid-day-bg {
    height: 0px;
  }
}



// .modal-dialog.bottom-slide {
//   transition: transform 0.3s ease-out;
//   transform: translateY(100%);
//   position: fixed;
//   margin: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   width: 100%;
// }

// .modal.show .modal-dialog.bottom-slide {
//   transform: translateY(0);
// }
// .modal-content {
//   margin: 10px 10px 10px 10px;
// }
