
    <form class="w-75 mx-auto">
      <p class="mt-3">タイトル</p>
        <div>
          <input class="form-control w-100 mt-1" name="title" placeholder="タイトルを入力" required>
        </div>

      <p class="mt-3">時間</p>
        <div>
          <input type="time" class="form-control w-100 mt-1" name="time" required>
        </div>

      <p class="mt-3">通知時間</p>
        <div>
          <input type="number" class="form-control w-100 mt-1" name="notification_time" placeholder="通知までの時間（分）" required>
        </div>
          <input type="submit" class="mt-4 btn btn-primary" value="送信">
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>